* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eee;
}

.start_button,
.Rules_box,
.quiz_box,
.result_box {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.start_button button {

    font-size: 25px;
    padding: 15px 50px;
    color: #fff;
    background: #ed4516;
    border: none;
    border-radius: 190px;
    cursor: pointer;
    pointer-events: auto;
}

.start_button button:hover {
    color: #ed4516;
    background-color: #fff;
    border: 1px solid #ed4516;
}


.Rules_box {

    background-color: #fff;
    width: 600px;
    border: 2px solid #ed4516;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4),
        0 8055px 20px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;

}

.Rules_box .Rules-title {
    font-size: 25px;
    font-weight: 400;
    color: #ed4516;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 0 30px;
}

.Rules_box .Rules-list {
    padding: 20px 30px;
}

.Rules_box .Rules-list .Rule {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.Rules_box .Rules-list .Rule span {

    border-bottom: 2px solid #ed4516;
    font-weight: 700;
}

.Rules_box .buttons {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Rules_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 270px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #ed4516;
    color: #fff;
    transition: all 0.3s ease;
}

.Rules_box .buttons button i {
    position: absolute;
    padding-left: 50px;
}

.Rules_box .buttons button:hover {
    background-color: #fff;
    color: #ed4516;
    border: 1px solid #ed4516;
    font-weight: 500;
}

.quiz_box {

    background-color: #fff;
    width: 600px;
    border: 2px solid #ed4516;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4),
        0 8055px 20px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(0.9);

}

.quiz_box header {
    position: relative;
    height: 60px;
    padding: 0 40px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.quiz_box header .title {
    font-size: 25px;
    font-weight: 500;

}

.quiz_box header .title i {
    color: #ed4516;
    font-size: 40px;
}

.quiz_box header .timer {
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    margin-right: 0px;
}

.quiz_box header .timer .time_icon {
    color: #ed4516;
    font-size: 25px;
}

.quiz_box header .timer .timer_sec {
    font-size: 20px;
    font-weight: 500;
    color: #ed4516;
}

.time_line_des {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3px;
    background: #ed4516;
}


.quiz_box .question_answers {
    padding: 25px 30px;

}

.quiz_box .question_answers .question {
    font-size: 25px;
    font-weight: 500;
}

.quiz_box .question_answers .answers_list {
    padding: 25px 0;
    display: block;

}

.quiz_box .question_answers .answers_list .answer {
    padding: 15px 15px;
    background-color: #f19b8362;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    pointer-events: auto;
    font-size: 17px;
}

.quiz_box .question_answers .answers_list .answer:hover {
    color: #871e01f0;
    background-color: #fb532462;
    border: #eee;
}

.quiz_box .question_answers .answers_list .answer:last-child {
    margin-bottom: 0;
}

.quiz_box footer {

    height: 90px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quiz_box footer .total_question {

    display: flex;
    position: absolute;
    user-select: none;
    padding: 10px 240px;
    background-color: rgb(223, 221, 221);
    border: 1px solid rgb(181, 180, 180);
    border-radius: 5px;


}

.quiz_box footer .total_question p {
    font-weight: 700;
    padding: 0 5px;
}

.quiz_box footer .total_question .current_question {
    color: #ed4516;
}

.quiz_box footer .total_question p:first-child {
    padding-left: 0px;
}

.quiz_box footer button {

    background-color: #ed4516;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: auto;
    margin-bottom: 100px;
}

.quiz_box footer button:hover {
    background-color: #fff;
    color: #ed4516;
    border: 1px solid #ed4516;
}

.result_box {
    opacity: 0;
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 600px;
    border: 2px solid #ed4516;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4),
        0 8055px 20px 0 rgba(0, 0, 0, 0.2);
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.result_box .text {
    font-size: 25px;
    font-weight: 700;

}

.result_box .icon {
    font-size: 70px;
    color: #ed4516;
    padding: 15px 0;

}

.result_box .buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;

}

.result_box .buttons .restart {
    padding: 10px 200px;
    margin-bottom: 15px;
    background-color: #ed4516;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    pointer-events: auto;
}

.result_box .buttons .restart:hover {
    background-color: #eee;
    color: #ed4516;
    border: 1px solid #ed4516;
}

.result_box .buttons .quit {
    padding: 10px 200px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #ed4516;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #ed4516;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    pointer-events: auto;
}

.result_box .buttons .quit:hover {
    background-color: #ed4516;
    color: #fff;
}

.result_box .text span {
    position: relative;
    color: #661904;
}

.result_box .text span::before {

    background-color: #fb532462;
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: 60%;
    left: -3px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

.result_box .score_text span {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    border-bottom: 2px solid #eee;

}

.result_box .score_text span p {
    padding: 0 4px;
    font-weight: 600;
}

.Rules_box.visible_rules_box{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}